﻿@{
    ViewData["Title"] = "Parrot Wings";
}

<h1>@ViewData["Title"]</h1>
<div>
    <div class="alert alert-success fade" id="systemMessages" role="alert"></div>

    <div id="auth-content">
        <div id="sign-in">
            <div class="mb-3">
                <label for="inputUserName" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputUserName" />
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <button id="loginBtn" class="btn btn-primary">Submit</button> or
            <button id="goToRegistration" class="btn btn-link">Register</button>
        </div>

        <div id="sign-up" class="hidden">
            <div class="mb-3">
                <label for="inputRegistrationUserName" class="form-label">User name</label>
                <input type="text" class="form-control" id="inputRegistrationUserName" />
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" />
            </div>
            <div class="mb-3">
                <label for="inputRegistrationPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputRegistrationPassword">
            </div>
            <div class="mb-3">
                <label for="inputRePassword" class="form-label">Re-Password</label>
                <input type="password" class="form-control" id="inputRePassword">
            </div>
            <button id="registerBtn" class="btn btn-primary">Register</button> or
            <button id="goToSignIn" class="btn btn-link">Sign in</button>
        </div>
    </div>

    <div id="main-content">
        <div class="row g-0">
            <div class="col-sm-10 col-md-11">
                <h4>
                    <span id="currentUserName"></span> : <span id="currentUserBalance"></span>
                </h4>
            </div>
            <div class="col-2 col-md-1">
                <button id="logoutButton" class="btn btn-secondary">Logout</button>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-transactions" aria-selected="true">Transactions</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Send Funds</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane  show active" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
                <table id="transactionsTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Who</th>
                            <th scope="col">Sent amount</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div>
                    <div class="mb-3">
                        <label for="selectUserName" class="form-label">User name: </label>
                        <select class="form-select" id="selectUserName" data-placeholder="Select...">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="inputAmount" class="form-label">Amount: </label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">PW</span>
                            <input type="text" class="form-control" id="inputAmount">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <button id="sendFundsBtn" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/js/ParrotWings.js" asp-append-version="true"></script>

<script type='text/javascript'
        src='//code.jquery.com/jquery-1.8.3.js'></script>
<script type='text/javascript'
        src="//cdn.jsdelivr.net/select2/3.4.1/select2.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="//cdn.jsdelivr.net/select2/3.4.1/select2.css">
<script type='text/javascript'
        src="//globaltradeconcierge.com/javascripts/bootstrap.min.js"></script>
<script type='text/javascript'>$(window).load(function () {
    $('#selectUserName').select2();
});
    </script>