﻿@{
    ViewData["Title"] = "PWA Test";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <!-- Install button, hidden by default -->
    <div id="installContainer" class="hidden">
        <button id="butInstall" type="button">
            Install
        </button>

    </div>

    <button id="bageIncrement" type="button">
        Bage +
    </button>

    <button id="bageClear" type="button">
        Bage clear
    </button>
</div>
