﻿@{
    ViewData["Title"] = "School manager";
}

<h1>@ViewData["Title"]</h1>

<div id="addStudent">
    Add new student:<br />
    <input id="userName" type="text" />
    <input id="addBtn" type="button" value="Save" />
</div>

<table id="students">
    
</table>
<script type="text/javascript">getStudents();
    const uri = '/api/Students/';

    document.getElementById("addBtn").addEventListener("click", function (e) {
        userName = document.getElementById("userName").value;
        addItem(userName);
    });

    function addItem(userName) {

        const item = {
            isComplete: false,
            name: userName.trim()
        };

        fetch('/api/Students/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(item)
        })
            .then(response => response.json())
            .then(() => {
                getStudents();
                document.getElementById("userName").value = '';
            })
            .catch(error => console.error('Unable to add item.', error));
    }

    function getStudents() {
        fetch('/api/Students/')
            .then(response => response.json())
            .then(data => _displayItems(data))
            .catch(error => console.error('Unable to get items.', error));
    }

    function deleteItem(id) {
        fetch(`/api/Students/${id}`, {
            method: 'DELETE'
        })
        .then(() => getStudents())
        .catch(error => console.error('Unable to delete item.', error));
    }

    function displayEditForm(id) {
        const userName = document.getElementById("userName").value.trim();
        if (userName.length > 0) {
            const item = {
                name: userName
            };

            fetch(`/api/Students/${id}`, {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item)
            })
                .then(() => {
                    getStudents();
                    document.getElementById("userName").value = '';
                })
                .catch(error => console.error('Unable to update item.', error));
        }        
    }
    
    function _displayItems(data) {
        const tBody = document.getElementById('students');
        tBody.innerHTML = '';

        const button = document.createElement('button');
        if (data.isSuccess) {
            data.students.forEach(item => {

                let editButton = button.cloneNode(false);
                editButton.innerText = 'Edit';
                editButton.setAttribute('onclick', `displayEditForm(${item.studentId})`);

                let deleteButton = button.cloneNode(false);
                deleteButton.innerText = 'Delete';
                deleteButton.setAttribute('onclick', `deleteItem(${item.studentId})`);

                let tr = tBody.insertRow();

                let idSpan = document.createTextNode(`${item.studentId}. `);
                let td1 = tr.insertCell(0);
                td1.appendChild(idSpan);

                let td2 = tr.insertCell(1);
                let textNode = document.createTextNode(item.name);
                td2.appendChild(textNode);

                let td3 = tr.insertCell(2);
                td3.appendChild(editButton);

                let td4 = tr.insertCell(3);
                td4.appendChild(deleteButton);
            });

            todos = data;
        }
        
    }
 </script>